@use 'variables';
@use 'fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  color: var(--foreground-color);
  font-family: var(--font-family);
  font-size: calc(14 * var(--scale));
  line-height: 1.4;
  overflow: hidden;
}
