@use 'variables';
@use 'fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*{
  outline: none;
}

body {
  background: var(--background-color);
  color: var(--foreground-color);
  fill: var(--foreground-color);
  font-family: var(--font-family);
  font-size: calc(variables.scaled(14));
  line-height: 1.4;
  overflow: hidden;
  @include variables.user-select(none);
}

/* 滚动条整体宽度 */
*::-webkit-scrollbar {
  width: 1vw;           /* 竖向滚动条宽度 */
  height: 100%;          /* 横向滚动条高度 */
  background: #666;   /* 滚动条轨道背景色 */
}

/* 滚动条轨道 */
*::-webkit-scrollbar-track {
  background: #666;   /* 轨道颜色 */
  border-radius: 0;      /* 无圆角，保证是长方形 */
}

/* 滚动条滑块 */
*::-webkit-scrollbar-thumb {
  background: #999;   /* 滑块颜色 */
  border-radius: 0;      /* 无圆角，保证是长方形 */
  min-height: 10%;      /* 可选：滑块最小高度 */
}

/* 可选：滚动条滑块悬停时颜色 */
*::-webkit-scrollbar-thumb:hover {
  background: #888;
}