@use 'variables';
@use 'fonts';

.container {

.component-text.template-str {
    font-size: variables.scaled(30);
    padding: 6%;
}

.template-background-str {
    font-size: variables.scaled(24);
    padding: 15%;
    opacity: 0.4;
}

}
