@function cell-size($scale: 1) {
  @return calc(#{$scale} * var(--cell-size));
}

// 按比例缩放
@function scaled($value) {
  @return calc(#{$value} * var(--scale));
}

// mixins

@mixin square-size($scale: 1) {
  $size: cell-size($scale);
  width: $size;
  height: $size;
  min-width: $size;
  min-height: $size;
  max-width: $size;
  max-height: $size;
}

@mixin rect-size($width-scale: 1, $height-scale: 1) {
  $width: cell-size($width-scale);
  $height: cell-size($height-scale);
  width: $width;
  height: $height;
  min-width: $width;
  min-height: $height;
  max-width: $width;
  max-height: $height;
}

@mixin absolute-position($top: null, $right: null, $bottom: null, $left: null) {
  position: absolute;

  @if $top != null {
    top: $top;
  }
  @if $right != null {
    right: $right;
  }
  @if $bottom != null {
    bottom: $bottom;
  }
  @if $left != null {
    left: $left;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button-base {
  background: transparent;
  border: calc(scaled(2)) solid var(--foreground-color);
  cursor: pointer;
  @include flex-center;
  box-sizing: border-box;
}

@mixin svg-icon($size) {
  width: $size;
  height: $size;
}

@mixin user-select($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}

// 同时设置颜色和背景
@mixin paint($color, $bg) {
  fill: $color;
  color: $color;
  border-color: $color;
  background: $bg;
}
